:root {
  --background: #2c4547;
  --title-col: #de891d;
}

.header {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid white;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.title {
  color: var(--title-col);
  font-size: 32px;
}

.header-right a.active {
  background-color: rgba(1, 1, 1, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: white;
  transition: 1s;
  border-radius: 8px;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.2);
}
.header-right a.active:hover {
  color: var(--title-col);
  box-shadow: 0px 0px transparent;
  border: 1px solid var(--title-col);
}

.header-right {
  float: right;
  margin-right: 20px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
